# Development
note.md
.vim

# configuration
development.ini
configuration.ini
production.ini
molcalc_configuration.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
lib64/
sdist/
*.egg
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
coverage/

# Webapp stuff
*.log
*.pid
*.db
*.sqlite
*.zip

# Sphinx documentation
docs/_build/

# Misc
pserve
.python-version

# Enviroment
molecalc/infrastructure/settings.py  # adjust on per-machine basis unless necessary
env*/
logs/

ppqm
ppqm_src
ppqm.git
chemhelp
molecalc/chemhelp
.test
.tmptest

# ignore downloaded packages
molecalc/static/external/*
molecalc/static/js/*jquery*
molecalc/static/external/fontawesome
molecalc/static/external/jquery
molecalc/static/external/chemdoodleweb
molecalc/static/external/jsmol
molecalc/static/demo
molecalc/static/external/rdkit

# ignore calculated data in database
molecalc/db/
