/* Checkbox */
/* Based on http://proto.io/freebies/onoff/ */
.checkbox {
    position: relative;
    width:25px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.checkbox .checkbox-input {
    display: none;
}

.checkbox .checkbox-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.checkbox-inner:before,
.checkbox-inner:after {
    float: left; width: 100%; height: 25px; padding: 0; line-height: 25px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    text-align:center;
    position:absolute;

    border-width:1px;
    border-style:solid;
    border-color:#fff;

    box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
}
.checkbox-inner:before {
    content: "\2713";
    background-color: #0373BB;;
    color: #FFFFFF;
    font-size:15px;
}
.checkbox-inner:after {
    content: "\2715";
    background-color: #e0e0e0;
    color: #666666;
    font-size:15px;

    /* text-shadow:1px 1px 0 rgba(255,255,255,0.5) */
}

.checkbox-input:checked + .checkbox-label .checkbox-inner:after {
    display:none;
}


/* On Off Switch */
/* Based on http://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #7f7f7f;
    border-radius: 8px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    /* -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; */
    /* -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s; */
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px;
    color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    /* box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1); */
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #0373BB;
    background-color: rgb(0, 121, 211);
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #F8F8F8;
    color: #666666;
    text-align: right;
    /* text-shadow:1px 1px 0 #fff; */
}

.onoffswitch-switch {
    width: 40px; margin: 0px;
    background: #FFFFFF;
    border: 1px solid #7f7f7f;
    border-radius: 7px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    /* -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; */
    /* -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;  */
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background:white;

    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.center .onoffswitch {
    margin: 0 auto;
    text-align:left;
}


/* First Last Switch */
/* Based on http://proto.io/freebies/onoff/ */
.firstlastswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.firstlastswitch-checkbox {
    display: none;
}
.firstlastswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #7f7f7f;
    border-radius: 8px;
}
.firstlastswitch-inner {
    width: 200%; margin-left: -100%;
    /* -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; */
    /* -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s; */
}
.firstlastswitch-inner:before, .firstlastswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 11px;
    color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    /* box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1); */
}
.firstlastswitch-inner:before {
    content: "INPUT";
    padding-left: 2.5px;
    background-color: #FFFFFF;
    color: #666666;
}
.firstlastswitch-inner:after {
    content: "FINAL";
    padding-right: 1.5px;
    background-color: #66cc06;
    color: #FFFFFF;
    text-align: right;
    /* text-shadow:1px 1px 0 #fff; */
}

.firstlastswitch-switch {
    width: 40px; margin: 0px;
    background: #FFFFFF;
    border: 1px solid #7f7f7f;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
    /* -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; */
    /* -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;  */
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background:white;

    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.firstlastswitch-checkbox:checked + .firstlastswitch-label .firstlastswitch-inner {
    margin-left: 0;
}
.firstlastswitch-checkbox:checked + .firstlastswitch-label .firstlastswitch-switch {
    right: 0px;
}

.center .firstlastswitch {
    margin: 0 auto;
    text-align:left;
}

/* Dark-mode Switch */
/* Adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    vertical-align: middle
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282828;

    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: white;

    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

input:checked + .slider {
    background-color: #cccccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #232323;
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
