<!DOCTYPE html>
<html lang="en">
<head>

  <title>MoleCalc</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% include 'shared/_header.html' %}

  {% include 'jsmol/head.html' %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/og/calculation.js') }}"></script>

  <script src="https://cdn.plot.ly/plotly-2.31.1.min.js" charset="utf-8"></script>
  <script>
    const graph_dark = {{irPlotJSON_dark | safe}};
    const graph_light = {{irPlotJSON_light | safe}};
  </script>

</head>
<body class="{{is_dark}}">

<section class="molecalc calculation">

    {% include 'shared/_appicon.html' %}

    <section class="mc-mobile-navigation toggle700 btnHeader left">
        <a class="button icon btnSidebar" href="#calcmenu">
            <i class="fas fa-bars"></i>
        </a>
    </section>

    {% include 'shared/_menu.html' %}
    {% include 'shared/_footer.html' %}

    <!-- content -->

    <section class="mc-content calculation">

        <section class="calc-menu sidebar" id="calcmenu">

            <section class="sidebar-cover"></section>
            <section class="sidebar-background btnCloseSidebar" href="#calcmenu"></section>

            <section class="sidebar-wrapper"> <!-- sidebar wrapper -->

                <section class="toolset toggle700">
                    <a class="button icon btnCloseSidebar" href="#calcmenu">
                        <i class="fas fa-times"></i>
                    </a>
                    <a class="button btnSidebar menu" href="#nav">Menu</a>
                </section>

                <ul>
                    <li><a href="#/energies"  class="energies active">Thermochemistry</a></li>
                    <li><a href="#/vibrations" class="vibrations">Vibrational Modes</a></li>
                    <li><a href="#/orbitals" class="orbitals">Molecular Orbitals</a></li>
                    <li><a href="#/solvation" class="solvation">Polarity and Solvation</a></li>
                </ul>

            </section> <!-- sidebar wrapper -->
        </section>

        <section class="calc calc-energies active tab-energies onecol">
            <h2>Ideal Gas Thermochemistry</h2>
            {% include 'calculation/section_thermo.html' %}
        </section>

        <section class="calc calc-vibration tab-vibrations">
            <h2>Vibrational Modes</h2>
            {% include 'calculation/section_vibrations.html' %}
        </section>

        <section class="calc calc-orbitals tab-orbitals">
            <h2>Molecular Orbitals</h2>
            {% include 'calculation/section_orbitals.html' %}
        </section>

        <section class="calc calc-orbitals tab-solvation">
            <h2>Polarity and Solvation</h2>
            {% include 'calculation/section_solvation.html' %}
        </section>

    </section>
    <!-- end content -->

</section>

<section class="hidden"></section>

</body>

    {# Note that the plotly stuff has to be placed here after <body> and NOT in <head> #}
    <script type="text/javascript">
        {#function onPlotlyPlotLoaded() {#}
        {#   // code/functions to be executed when plot is fully loaded#}
        {#   console.log('Plotly plot is fully loaded');#}
        {#   addObserver();#}
        {#}#}
        {##}
        {#//your plot initial generation may differ, doesn't really matter#}
        {#script.onload = function () {#}
        {#    var config = {responsive: true}#}
        {#    //the .then here is a callback to the function after it is done loading.#}
        {#    drawPlot('irspectrum', IS_DARK);#}
        {#};#}
        {##}
        {#let resizeTimeout;#}
        {##}
        {#function addObserver() {#}
        {#    let observer = new ResizeObserver(function(mutations) {#}
        {#        console.log('Resized:', mutations);#}
        {##}
        {#        // clear any existing timeout#}
        {#        clearTimeout(resizeTimeout);#}
        {##}
        {#        // set a new timeout to trigger Plotly.update after resizing stops#}
        {#        resizeTimeout = setTimeout(function() {#}
        {#        console.log('Resizing stopped, updating layout to new height: ', plotlyPlot.clientHeight, "px tall");#}
        {#        console.log('Resizing stopped, updating layout to new width: ', plotlyPlot.clientWidth, "px wide");#}
        {#        // Update the layout of the existing Plotly plot#}
        {#        Plotly.update('irspectrum', {}, { height: plotlyPlot.clientHeight, width: plotlyPlot.clientWidth  });#}
        {#        }, 500); //  timeout duration, change as needed#}
        {##}
        {#    });#}
        {##}
        {#    let plotlyPlot = document.querySelector('#irspectrum');#}
        {#    observer.observe(plotlyPlot, { attributes: true });#}
        {#}#}

        function drawPlot(divID, isDark) {
            id = document.getElementById(divID);
            if (isDark) {
                Plotly.newPlot(id, graph_dark, {responsive:true});
            } else {
                Plotly.newPlot(id, graph_light, {responsive:true});
            }
        }
    </script>

</html>