<!DOCTYPE html>
<html lang="en">
<head>

  <title>MoleCalc</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% include 'shared/_header.html' %}

  {% include 'jsmol/head.html' %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/og/calculation.js') }}"></script>

</head>
<body>

<section class="molecalc calculation">

    {% include 'shared/_appicon.html' %}

    <section class="mc-mobile-navigation toggle700 btnHeader left">
        <a class="button icon btnSidebar" href="#calcmenu">
            <i class="fas fa-bars"></i>
        </a>
    </section>

    {% include 'shared/_menu.html' %}
    {% include 'shared/_footer.html' %}

    <!-- content -->

    <section class="mc-content calculation">

        <section class="calc-menu sidebar" id="calcmenu">

            <section class="sidebar-cover"></section>
            <section class="sidebar-background btnCloseSidebar" href="#calcmenu"></section>

            <section class="sidebar-wrapper"> <!-- sidebar wrapper -->

                <section class="toolset toggle700">
                    <a class="button icon btnCloseSidebar" href="#calcmenu">
                        <i class="fas fa-times"></i>
                    </a>
                    <a class="button btnSidebar menu" href="#nav">Menu</a>
                </section>

                <ul>
                    <li><a href="#/energies"  class="energies active">Thermochemistry</a></li>
                    <li><a href="#/vibrations" class="vibrations">Vibrational Modes</a></li>
                    <li><a href="#/orbitals" class="orbitals">Molecular Orbitals</a></li>
                    <!--<li><a href="#/solvation" class="solvation">Polarity and Solvation</a></li>-->
                </ul>

                <section class="molinfo">
	                    <p id="molinfo-container">
                            {{smiles}} ({{theorylvl}})
                        </p>
                </section>


            </section> <!-- sidebar wrapper -->
        </section>

        <section class="calc calc-energies active tab-energies onecol">
            <h2>Thermochemistry</h2>
              <!-- <h3>at 298.15 K and standard pressure</h3> -->

            {% include 'calculation/section_thermo.html' %}

            <section class="data">
                <div>
                    <a
                      class="button"
                      href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='opt', iofile='inp') }}">
                      <i class="fa fa-download"></i>
                      GAMESS .inp
                    </a>
                    <a
                      class="button"
                      href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='opt', iofile='out') }}">
                      <i class="fa fa-download"></i>
                      GAMESS .out
                    </a>
                </div>
            </section>
        </section>

<!--      <section class="calc calc-sdf">-->
<!--        <pre>{{sdf}}</pre>-->
<!--      </section>-->


        <section class="calc calc-vibration tab-vibrations">
            <h2>Vibrational Modes</h2>

            {% include 'calculation/section_vibrations.html' %}

            <section class="data">
                <div>
                    <a
                      class="button"
                      href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='vib', iofile='inp') }}">
                      <i class="fa fa-download"></i>
                      GAMESS .inp
                    </a>
                    <a
                      class="button"
                      href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='vib', iofile='out') }}">
                      <i class="fa fa-download"></i>
                      GAMESS .out
                    </a>
                </div>
            </section>
        </section>


        <section class="calc calc-orbitals tab-orbitals">
            <h2>Molecular Orbitals</h2>

            {% include 'calculation/section_orbitals.html' %}

            <section class="data">
                <div>
                    <a
                      class="button"
                      href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='orb', iofile='inp') }}">
                      <i class="fa fa-download"></i>
                      GAMESS .inp
                    </a>
                    <a
                      class="button"
                      href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='orb', iofile='out') }}">
                      <i class="fa fa-download"></i>
                      GAMESS .out
                    </a>
                </div>
            </section>
        </section>


        <section class="calc calc-orbitals tab-solvation">
            <h2>Polarity and Solvation</h2>

            {% include 'calculation/section_solvation.html' %}
        </section>

    </section>
    <!-- end content -->

</section>

<section class="hidden"></section>

</body>
</html>