<script type="text/javascript">

    var sdf = `{{sdf}}`;

    var orbMolecule = `{{orbitalstxt}}`

</script>

<script type="text/javascript">

var jmolOrb;
var orbInfo1 = {
    height: '100%',
    width: '100%',
    j2sPath: "/static/external/jsmol/j2s",
    use: 'HTML5',
    console: "jmol_orb_infodiv",
    disableInitialConsole: true,
    allowJavaScript: true,
    debug: false,
};

waitForElement('#jmolOrb_appletdiv', function() {
    jsmolSetMol(jmolOrb, orbMolecule);
    Jmol.script(jmolOrb, 'color echo black; font echo 16 sanserif;set echo top right;');
    Jmol.script(jmolOrb, 'echo "{{ iupac_name }} ({{ theorylvl }})"');

    {#Jmol.script(jmolOrb, 'color echo black; font echo 16 sanserif;set echo bottom right;');#}
    {#Jmol.script(jmolOrb, 'echo "{{ orbitals | first }} eV"');#}

    Jmol.script(jmolOrb, 'mo TITLEFORMAT ""');
    Jmol.script(jmolOrb, 'mo 1');
    Jmol.script(jmolOrb, 'frame 1');
    Jmol.script(jmolOrb, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
	Jmol.script(jmolOrb, 'centerAt average 0.0 0.0 0.0');
});


$(function() {
    $sidebars = $(".sidebar");

    // Balls on off
    $('#spacefill_switch_orb').on('change', function() {
        var checked = $(this).prop('checked');
        var rel;
        if(checked) {
            rel = 'on; spacefill 24%;';
        }
        else {
            rel = 'off';
        }
        Jmol.script(jmolOrb, 'cpk '+rel);
    }).trigger('change');

    // Show Orbital
    $('.orbital_levels a').on('click', function() {
        // Check for getProperty fileName
        var orbital = $(this).attr('rel');
        // TODO Sean: the rcm thing is what's responsible for the orbital energy
        // TODO  being displayed in JSmol window when vibrations tab is clicked
        // TODO  after having selected an orbital (energy) just prior...
        {#var rcm = $(this).parent().parent().find('.energy').html(); #}
        Jmol.script(jmolOrb, 'mo '+orbital);
        Jmol.script(jmolOrb, 'frame 1');
        {#Jmol.script(jmolVib, 'echo "' + rcm + '"');#}
        {#Jmol.script(jmolVib, 'echo "10"');#}
        $sidebars.removeClass("active");
        return false;
    });
});

</script>


<div class="toggle700 calcOptionMenu">
    <a class="button highlight btnSidebar" href="#calcOrbitals">
        <!-- <i class="fas fa&#45;atom"></i> -->
        Orbitals
    </a>
</div>

<section class="options sidebar" id="calcOrbitals">

    <section class="sidebar-cover"></section>
    <section class="sidebar-background btnCloseSidebar" href="#calcOrbitals"></section>

    <section class="sidebar-wrapper"> <!-- sidebar wrapper -->

    <section class="toolset toggle700">
        <a class="button icon btnCloseSidebar" href="#calcOrbitals">
            <i class="fas fa-times"></i>
        </a>
    </section>

    <table>
        <tr>
        <td>Sticks and balls</td>
        <td class="center">
        <div class="onoffswitch">
        <input autocomplete="off" type="checkbox" class="onoffswitch-checkbox" id="spacefill_switch_orb" name="spacefill_switch_orb" checked="">
        <label class="onoffswitch-label" for="spacefill_switch_orb">
        <div class="onoffswitch-inner"></div>
        <div class="onoffswitch-switch"></div>
        </label>
        </div>
        </td>
    </tr>

    <tr>
      <td>GAMESS Input</td>
      <td class="center">
        <div>
            <a class="button"
               href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='orb', iofile='inp') }}">
              <i class="fa fa-download"></i>
              orbitals.inp
            </a>
        </div>
      </td>
    </tr>
    <tr>
      <td>GAMESS Output</td>
      <td class="center">
        <div>
            <a class="button"
               href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='orb', iofile='out') }}">
              <i class="fa fa-download"></i>
              orbitals.out
            </a>
        </div>
      </td>
    </tr>
    </table>

    <ul class="data orbital_levels">
    {% for energy in orbitals %}
        <li>
            <span class="index txt">{{loop.index}}</span>
            <span class="energy txt">{{ energy }} eV</span>
            <span class="action"><a href="#!" rel="{{loop.index}}"><i
                    class="fas fa-arrow-circle-right"></i></a></span>
        </li>
    {% endfor %}
    </ul>

    </section> <!-- sidebar wrapper -->
</section>

<section class="view">

    <div class="jsmol" style="width: 100%;height: 100%;">
        <script type="text/javascript">
            jmolOrb = Jmol.getApplet("jmolOrb", orbInfo1);
            Jmol.script(jmolOrb, 'background "#ffffff"');
            Jmol.script(jmolOrb, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
        </script>
    </div>

</section>
