
<!--<p style="z-index=10;">-->
<!--  Thermodynamics for molecular gas form at STP.-->
<!--  &lt;!&ndash; Would be nice to include the molecule name here... &ndash;&gt;-->
<!--</p>-->
  <!-- <h3>at 298.15 K and standard pressure</h3> -->

<script type="text/javascript">

    var sdf = `{{sdf}}`;
    var optMolecule = `{{outtxt_opt}}`;

    var jmolOpt;
    var optInfo1 = {
        height: '100%',
        width: '100%',
        j2sPath: "/static/external/jsmol/j2s",
        use: 'HTML5',
        disableInitialConsole: true,
        allowJavaScript: true,
        debug: false,
    };

    waitForElement('#jmolOpt_appletdiv', function() {
        jsmolSetMol(jmolOpt, optMolecule);
        Jmol.script(jmolOpt, 'color echo black; font echo 16 sanserif;set echo top right;echo echo test;');
        Jmol.script(jmolOpt, 'echo "{{ iupac_name }} ({{ theorylvl }})"');
        {#jsmolSetMol(jmolOpt, sdf);#}
        {#Jmol.script(jmolOpt, 'set appendNew true');#}
        {#Jmol.script(jmolOpt, "load append trajectory '"+optMolecule+"';");#}

        Jmol.script(jmolOpt, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
        Jmol.script(jmolOpt, 'centerAt average 0.0 0.0 0.0');
        Jmol.script(jmolOpt, 'animation off');
        Jmol.script(jmolOpt, 'animation fps 15');
        Jmol.script(jmolOpt, 'animation mode palindrome 0.75 0.25');
        Jmol.script(jmolOpt, 'frame LAST');
    });

$(function() {
    $sidebars = $(".sidebar");

    // Select starting or final structure
    $('#frame_selector').on('change', function() {
        var checked = $(this).prop('checked');
        var rel;
        if(checked) {
            rel = '1';
        } else {
            rel = 'LAST';
        }
        Jmol.script(jmolOpt, 'frame '+rel);
    }).trigger('change');

    // Animation on off
    $('#optimization_switch').on('change', function() {
        var checked = $(this).prop('checked');
        var rel;
        if(checked) {
            rel = 'on';
        } else {
            rel = 'off';
        }
        Jmol.script(jmolOpt, 'animation '+rel);
    }).trigger('change');

    // Balls on off
    $('#spacefill_switch_opt').on('change', function() {
        var checked = $(this).prop('checked');
        var rel;
        if(checked) {
            rel = 'on; spacefill 24%;';
        } else {
            rel = 'off';
        }
        Jmol.script(jmolOpt, 'cpk '+rel);
    }).trigger('change');

    // Display first/last frame of optimization trajectory
    $('.opt_frame').on('click', function() {
        // Check for getProperty fileName
        var optframe = $(this).attr('rel');
        Jmol.script(jmolOpt, 'frame '+optframe);
        $sidebars.removeClass("active");
        return false;
    });

    // View optimization animation
    $('.optmol_traj').on('click', function() {
        // Check for getProperty fileName
        var optmol = $(this).attr('rel');
        Jmol.script(jmolOpt, 'animation '+optmol);
        $sidebars.removeClass("active");
        return false;
    });
});

</script>


<div class="toggle700 calcOptionMenu">
    <a class="button highlight btnSidebar" href="#calcOptimization">
        Thermochemistry
        <!-- <i class="fas fa&#45;plus"></i> -->
    </a>
</div>

<section class="options sidebar" id="calcOptimization">

    <section class="sidebar-cover"></section>
    <section class="sidebar-background btnCloseSidebar" href="#calcOptimization"></section>

    <section class="sidebar-wrapper"> <!-- sidebar wrapper -->

        <section class="toolset toggle700">
            <a class="button icon btnCloseSidebar" href="#calcOptimization">
                <i class="fas fa-times"></i>
            </a>
        </section>

    <table>
    <tbody>
    <td width="50%">Select Frame</td>
      <td class="center">
        <div class="firstlastswitch">
            <input autocomplete="off"
                   type="checkbox"
                   class="firstlastswitch-checkbox"
                   id="frame_selector"
                   name="frame_selector">
            <label class="firstlastswitch-label" for="frame_selector">
                <div class="firstlastswitch-inner"></div>
                <div class="firstlastswitch-switch"></div>
            </label>
        </div>
      </td>
    </tr>

    <tr><!-- <h3>at 298.15 K and standard pressure</h3> -->
      <td width="50%">Optimization trajectory</td>
      <td class="center">
        <div class="onoffswitch">
            <input autocomplete="off"
                   type="checkbox"
                   class="onoffswitch-checkbox"
                   id="optimization_switch"
                   name="optimization_switch">
            <label class="onoffswitch-label" for="optimization_switch">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
      </td>
    </tr>

    <tr>
      <td>Sticks and balls</td>
      <td class="center">
        <div class="onoffswitch">
            <input autocomplete="off"
                   type="checkbox"
                   class="onoffswitch-checkbox"
                   id="spacefill_switch_opt"
                   name="spacefill_switch_opt"
                   checked>
            <label class="onoffswitch-label" for="spacefill_switch_opt">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
      </td>
    </tr>

    <tr>
      <td>GAMESS Input</td>
      <td class="center">
        <div>
            <a class="button"
               href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='opt', iofile='inp') }}">
              <i class="fa fa-download"></i>
              optimization.inp
            </a>
        </div>
      </td>
    </tr>
    <tr>
      <td>GAMESS Output</td>
      <td class="center">
        <div>
            <a class="button"
               href="{{ url_for('calc.download_gamess_io', hashkey=hashkey, calc='opt', iofile='out') }}">
              <i class="fa fa-download"></i>
              optimization.out
            </a>
        </div>
      </td>
    </tr>
    </tbody>
    </table>

    <div class="tbls_container">
        <div class="tbl_container">
          <table>
            <tr><td class="center" colspan="3" style="font-weight:bold">Enthalpy</td></tr>
            <!-- <tr><td class="center" style="width:50%">Property</td><td style="width:25%" class="center">Value</td><td style="width:25%" class="center">Unit</td></tr> -->
            <tr><td>Translational</td><td class="right">{{h_trans}}</td><td class="right">kJ mol<sup>-1</sup> </td><tr>
            <tr><td>Rotational</td><td class="right">{{h_rotat}}</td><td class="right">kJ mol<sup>-1</sup> </td><tr>
            <tr><td>Vibrational</td><td class="right">{{h_vibra}}</td><td class="right">kJ mol<sup>-1</sup></td><tr>
            <tr><td>Total</td><td class="right">{{h_total}}</td><td class="right">kJ mol<sup>-1</sup></td><tr>
          </table>
        </div>

        <div class="tbl_container">
          <table>
            <tr><td class="center" colspan="3" style="font-weight:bold">Heat Capacity at Constant Pressure</td></tr>
            <!-- <tr><td class="center" style="width:50%">Property</td><td style="width:25%" class="center">Value</td><td style="width:25%" class="center">Unit</td></tr> -->
            <tr><td>Translational</td><td class="right">{{cp_trans}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
            <tr><td>Rotational</td><td class="right">{{cp_rotat}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
            <tr><td>Vibrational</td><td class="right">{{cp_vibra}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
            <tr><td>Total</td><td class="right">{{cp_total}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
          </table>
        </div>

        <div class="tbl_container">
          <table>
            <tr><td class="center" colspan="3" style="font-weight:bold">Entropy</td></tr>
            <!-- <tr><td class="center" style="width:50%">Property</td><td style="width:25%" class="center">Value</td><td style="width:25%" class="center">Unit</td></tr> -->
            <tr><td>Translational</td><td class="right">{{s_trans}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
            <tr><td>Rotational</td><td class="right">{{s_rotat}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
            <tr><td>Vibrational</td><td class="right">{{s_vibra}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
            <tr><td>Total</td><td class="right">{{s_total}}</td><td class="right">J mol<sup>-1</sup> K<sup>-1</sup></td><tr>
          </table>
        </div>

        <div class="tbl_container">
          <table>
            <tr><td class="center" colspan="3" style="font-weight:bold">Standard Enthalpy of Formation</td></tr>
            <!-- <tr><td class="center" style="width:50%">Property</td><td style="width:25%" class="center">Value</td><td style="width:25%" class="center">Unit</td></tr> -->
            <tr><td>Heat of Formation</td><td class="right">{{enthalpy}}</td><td class="right">kJ mol<sup>-1</sup></td><tr>
          </table>
        </div>
    </div>

    </section> <!-- sidebar wrapper -->
</section>

<section class="view">

    <div class="jsmol" style="width: 100%;height: 100%;">
        <script type="text/javascript">
            jmolOpt = Jmol.getApplet("jmolOpt", optInfo1);
            Jmol.script(jmolOpt, 'background "#ffffff"');
        </script>
    </div>

</section>
