
<div class="canvas_jsmol">

<script type="text/javascript">
var myJmol1;
var myInfo1 = {
    height: '100%',
    width: '100%',
    j2sPath: "static/external/jsmol/j2s",
    use: 'HTML5',
    console: "myJmol1_infodiv",
    disableInitialConsole: true,
    allowJavaScript: true,
    debug: false
};
</script>

<script type="text/javascript">
    myJmol1 = Jmol.getApplet("myJmol1", myInfo1);
    jsmolSetMol(myJmol1, sdfBenzene);
    Jmol.script(myJmol1, 'background "#ffffff"');
    {# set bondRadiusMilliAngstroms 100  is the same as wireframe 0.1 #}
    Jmol.script(myJmol1, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3; cpk on; spacefill 24%;');
    Jmol.script(myJmol1, 'set forcefield "MMFF"');
    Jmol.script(myJmol1, 'minimize addHydrogens');
    Jmol.script(myJmol1, 'centerAt average 0.0 0.0 0.0');
</script>

</div>
