<!DOCTYPE html>
<html lang="en">
<head>

    <title>MoleCalc</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    {% include 'section_header.html' %}

</head>
<body>

  <section class="molcalc page">

    {% include 'section_icon.html' %}

    <section class="mc-mobile-navigation toggle700 btnHeader left">
        <a class="button icon btnSidebar" href="#nav">
    <i class="fas fa-angle-right"></i>
        </a>
    </section>

    {% include 'section_menu.html' %}

    {% include 'section_footer.html' %}

    <!-- content -->

    <section class="mc-content about">

        <h1>What is MoleCalc?</h1>

        <p>
          MoleCalc is based on <a href="https://molcalc.org/">MolCalc</a>, a web-based
          chemistry teaching tool built originally by the
          <a href="propka.ki.ku.dk/~jhjensen">
            Jensen Group
          </a> at the University of
          Copenhagen and being extended by the
          <a href="https://biopchem.education/news/yarger-research-group/">
            Yarger Research Group
          </a>
          in the
          <a href="https://sms.asu.edu/">
            School of Molecular Sciences at Arizona State University
          </a>
          that allows chemists to build small molecules and estimate key molecular properties using
          research-grade quantum chemistry software. Currently, MoleCalc can provide, in
          a matter of minutes or seconds, a decent sense of the physical and chemical properties
          of a chosen molecule, such as
        </p>

        <ul>
            <li>energy-minimized molecular structure</li>
            <li>electronic structure and molecular orbitals</li>
            <li>thermochemical properties of the molecular gas form</li>
            <li>vibrational modes and their frequencies</li>
        </ul>

        <h1>Why do we need MoleCalc?</h1>

        <p>
            The original
          <a href="https://molcalc.org/">MolCalc</a> was originally designed for teaching as
          opposed to research and, therefore, places an emphasis on running computations
          <em>quickly</em>. Indeed, so long as qualitative accuracy is sufficient, the speed of
          calculations is of primary importance since humans learn most effectively when
          real-time feedback is available. MoleCalc is being developed in this spirit and
          is currently being stress-tested in the context of the upper-division
            <a href="https://biopchem.education/biopchem/courses/">CHM 343 lab course
            at ASU in Fall 2022</a>. However, the ASU MoleCalc project has longer-term ambitions
            driven by the central goal to improve student engagement with fundamental concepts
            in chemistry and physics.
        </p>


        <h2>Emphasis on physical intuition</h2>

        <p>The broader ASU MoleCalc effort is focused on leveraging computational methods
          to deeply integrate physical intuition with real or simulated experimental data using
          clickable explanations, dynamic visualizations, and interactive data. A guiding focus
          of our development efforts is to <i>make meaning transparent</i> by leveraging a web
          interface that will provide succinct explanations in a visual context, thereby allowing
          the user to concentrate on concepts rather than deciphering complicated programs and
          arcane terminologies.
        </p>

        <h2>Cloud-based physics and chemistry</h2>

        <p>Like the original MolCalc project, MoleCalc will continue being developed as an
          open source interactive chemistry teaching tool. MoleCalc serves as the starting
          point for the development of a more comprehensive visual-centric interface for
          cloud-based physics and chemistry lab courses. The idea is to have students develop a
          "chemical intuition" about how molecular structure affects molecular properties, without
          performing the underlying calculations by hand (which would be near impossible for all
          but the simplest chemical systems). In particular, we envision developing a tool that
          establishes concrete conceptual pathways from representative experimental plots and
          data to the mechanistic physical/chemical picture that directly underlies that data.
        </p>

        <h1>What technologies does MoleCalc use?</h1>

        <p>MoleCalc uses standard HTML and CSS3, along with the technologies and software
          packages described below.</p>

        <h2>Front-end components</h2>

        <ul>
            <li>JavaScript (<a href="https://jquery.com/">jQuery</a>)</li>
            <li><a href="http://jmol.sourceforge.net/">JSmol</a></li>
        </ul>

        <h2>Back-end components</h2>

        <ul>
            <li>Python (<a href="https://trypyramid.com/">(Pyramid</a>)</li>
            <li><a href="https://www.sqlalchemy.org/">SQLAlchemy</a></li>
            <li>JavaScript (<a href="https://jquery.com/">jQuery</a>)</li>
            <li><a href="https://www.msg.chem.iastate.edu/gamess/">GAMESS</a></li>
            <li><a href="https://www.faccts.de/orca/">Orca</a> (coming soon!)</li>
        </ul>

        <h2>How does MoleCalc perform electronic structure calculations?</h2>

        <p>Great question! Currently, MoleCalc uses
          <a href="https://www.msg.chem.iastate.edu/gamess/">The General Atomic and Molecular
              Electronic Structure System (GAMESS)</a>, which is maintained by the Gordon
          research group at Iowa State University. We are also in the process of incorporating
          <a href="https://www.faccts.de/orca/">Orca</a> as a user-selectable option for quantum
          chemistry calculation.
        </p>

        <h1>Development</h1>

        <h2>Installation</h2>

        <p>Check out <a href="https://github.com/mscloudlab/molcalc">github.com/mscloudlab/molcalc
            </a>
          for a developer's installation guide.
        </p>

        <h2>I found a bug or I have a feature request</h2>

        <p>Have suggestions about how MoleCalc might be improved?
          Awesome! Raise issues at
          <a href="https://github.com/mscloudlab/molcalc/issues">github.com/mscloudlab/molcalc
             /issues</a>.
        </p>

        <h1>How do I cite MoleCalc?</h1>

        <p>Please cite the original MolCalc paper by Jensen and Kromann, who have generously
        developed MolCalc as an open-source project under the MIT license for the benefit of
        the broader scientific community.</p><br />

        <p>J. H. Jensen and J. C. Kromann. <em>The Molecule Calculator: A Web
        Application for Fast Quantum Mechanics-Based
        Estimation of Molecular Properties,</em> J. Chem. Educ., 2013, <b>90</b>
        (8), pp 1093–1095. DOI:
          <a href="dx.doi.org/10.1021/ed400164n">10.1021/ed400164n<br />
        </p>

    </section>

  </section>

</body>
</html>
