<!DOCTYPE html>
<html lang="en">
<head>

    <title>MoleCalc.Cloud</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {# _header.html, JS, and CSS #}
    {% include 'shared/_header.html' %}
    {% include 'jsmol/head.html' %}

    <script type="text/javascript" src="{{ url_for('static', filename='external/rdkit/rdkit.js') }}"></script>

{#  Note that the format of these SDF strings DEPENDS ON THE TABBING!!!...  #}
<script type="text/javascript">
let sdfBenzene = `


  6  6  0  0  0  0            999 V2000
    0.0000    1.0000    0.0000 C   0  0  0  0  0  0
    0.8660    0.5000    0.0000 C   0  0  0  0  0  0
    0.8660   -0.5000    0.0000 C   0  0  0  0  0  0
    0.0000   -1.0000    0.0000 C   0  0  0  0  0  0
   -0.8660   -0.5000    0.0000 C   0  0  0  0  0  0
   -0.8660    0.5000    0.0000 C   0  0  0  0  0  0
  1  2  1  0  0  0  0
  2  3  2  0  0  0  0
  3  4  1  0  0  0  0
  4  5  2  0  0  0  0
  5  6  1  0  0  0  0
  6  1  2  0  0  0  0
M  END
$$$$
`;

let sdfWater = `


  3  2  0  0  0               999 V2000
    0.0021   -0.0041    0.0020 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.0110    0.9628    0.0073 O   0  0  0  0  0  0  0  0  0  0  0  0
    0.8669    1.3681    0.0011 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  1  0  0  0  0
  2  3  1  0  0  0  0
M  END
$$$$
`;

let sdfCarbonDioxide = `


  3  2  0  0  0               999 V2000
   -0.0143    1.2038    0.0087 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 O   0  0  0  0  0  0  0  0  0  0  0  0
   -0.0307    2.4117    0.0153 O   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  2  0  0  0  0
  1  3  2  0  0  0  0
M  END
$$$$
`;

let sdfMethanol = `


  6  5  0  0  0               999 V2000
    0.0021   -0.0041    0.0020 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.0127    1.0858    0.0080 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.0099    1.4631    0.0003 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.5399    1.4469   -0.8751 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.6816    1.5467    1.1837 O   0  0  0  0  0  0  0  0  0  0  0  0
   -0.2663    1.2624    2.0094 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  1  0  0  0  0
  2  3  1  0  0  0  0
  2  4  1  0  0  0  0
  2  5  1  0  0  0  0
  5  6  1  0  0  0  0
M  END
$$$$
`;

let sdfEthene = `


  6  5  0  0  0               999 V2000
   -0.0126    1.0758    0.0080 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.9153    1.6285    0.0021 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.1558    1.7153    0.0169 C   0  0  0  0  0  0  0  0  0  0  0  0
   -1.1705    2.7952    0.0228 H   0  0  0  0  0  0  0  0  0  0  0  0
   -2.0837    1.1627    0.0183 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  1  0  0  0  0
  1  3  1  0  0  0  0
  1  4  2  0  0  0  0
  4  5  1  0  0  0  0
  4  6  1  0  0  0  0
M  END
$$$$
`;

let sdfLAlanine = `


 13 12  0  0  0               999 V2000
   -0.0184    1.5028    0.0103 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.7182   -0.4975   -1.2568 C   0  0  0  0  0  0  0  0  0  0  0  0
   -1.3761   -0.5125    0.0124 N   0  0  0  0  0  0  0  0  0  0  0  0
    1.1348    2.1897    0.0030 O   0  0  0  0  0  0  0  0  0  0  0  0
   -1.0728    2.0926    0.0185 O   0  0  0  0  0  0  0  0  0  0  0  0
    0.5293   -0.3651    0.8851 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.7330   -1.5874   -1.2628 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.1910   -0.1364   -2.1398 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.7408   -0.1202   -1.2645 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.9048   -0.1399   -0.7619 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.3893   -1.5214    0.0072 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.0711    3.1545    0.0088 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  1  0  0  0  0
  1  5  1  0  0  0  0
  1  6  2  0  0  0  0
  2  3  1  0  0  0  0
  2  4  1  0  0  0  0
  2  7  1  0  0  0  0
  3  8  1  0  0  0  0
  3  9  1  0  0  0  0
  3 10  1  0  0  0  0
  4 11  1  0  0  0  0
  4 12  1  0  0  0  0
  5 13  1  0  0  0  0
M  END
$$$$
`;

let sdfBenzoicAcid = `


 15 15  0  1  0               999 V2000
   -0.0169    1.3921    0.0097 C   0 00  0  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 C   0 00  0  0  0  0  0  0  0  0  0  0
    1.1701    2.0948    0.0021 C   0 00  0  0  0  0  0  0  0  0  0  0
    1.2241   -0.6793   -0.0133 C   0 00  0  0  0  0  0  0  0  0  0  0
   -1.2651   -0.7633    0.0105 C   0  0  0  0  0  0  0  0  0  0  0  0
    2.3776    1.4193   -0.0135 C   0 00  0  0  0  0  0  0  0  0  0  0
    2.4036    0.0359   -0.0207 C   0 00  0  0  0  0  0  0  0  0  0  0
   -1.2433   -2.1103    0.0031 O   0  0  0  0  0  0  0  0  0  0  0  0
   -2.3267   -0.1731    0.0242 O   0  0  0  0  0  0  0  0  0  0  0  0
   -0.9587    1.9206    0.0170 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.1570    3.1747    0.0081 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.2458   -1.7591   -0.0189 H   0  0  0  0  0  0  0  0  0  0  0  0
    3.3040    1.9744   -0.0201 H   0  0  0  0  0  0  0  0  0  0  0  0
    3.3496   -0.4851   -0.0325 H   0  0  0  0  0  0  0  0  0  0  0  0
   -2.0977   -2.5632    0.0091 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2 02  0  1  0  0
  1  3 01  0  1  0  0
  1 10  1  0  0  0  0
  2  4 01  0  1  0  0
  2  5  1  0  0  0  0
  3  6 02  0  1  0  0
  3 11  1  0  0  0  0
  4  7 02  0  1  0  0
  4 12  1  0  0  0  0
  5  8  1  0  0  0  0
  5  9  2  0  0  0  0
  6  7 01  0  1  0  0
  6 13  1  0  0  0  0
  7 14  1  0  0  0  0
  8 15  1  0  0  0  0
M  END
$$$$
`;

let sdfDGlucose = `


 24 24  0     1  0  0  0  0  0999 V2000
   -0.0173    1.4248    0.0099 O   0  0  0  0  0  0  0  0  0  0  0  0
    0.7892   -1.9370    1.2235 O   0  0  0  0  0  0  0  0  0  0  0  0
    2.7834   -0.3354    2.5040 O   0  0  0  0  0  0  0  0  0  0  0  0
    3.3630    2.1544    1.2209 O   0  0  0  0  0  0  0  0  0  0  0  0
    1.1446    3.4485   -0.0172 O   0  0  0  0  0  0  0  0  0  0  0  0
   -2.0645   -0.1576   -1.2414 O   0  0  0  0  0  0  0  0  0  0  0  0
    0.7175   -0.5102    1.2573 C   0  0  1  0  0  0  0  0  0  0  0  0
    2.1334    0.0727    1.2986 C   0  0  1  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 C   0  0  1  0  0  0  0  0  0  0  0  0
    2.0458    1.6014    1.2560 C   0  0  2  0  0  0  0  0  0  0  0  0
    1.2791    2.0260    0.0007 C   0  0  3  0  0  0  0  0  0  0  0  0
   -1.4332   -0.5337   -0.0158 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.1674   -0.1941    2.1436 H   0  0  0  0  0  0  0  0  0  0  0  0
    2.7004   -0.2855    0.4394 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.5305   -0.3556   -0.8842 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.5232    1.9612    2.1423 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.8241    1.7012   -0.8856 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.9869   -0.1113    0.8227 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.4205   -1.6204    0.0677 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.2355   -2.3266    1.9878 H   0  0  0  0  0  0  0  0  0  0  0  0
    3.6861   -0.0014    2.5966 H   0  0  0  0  0  0  0  0  0  0  0  0
    3.3832    3.1208    1.1928 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.6670    3.7888   -0.7860 H   0  0  0  0  0  0  0  0  0  0  0  0
   -2.9793   -0.4606   -1.3218 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  9  1  0  0  0  0
  1 11  1  0  0  0  0
  7  2  1  0  0  0  0
  2 20  1  0  0  0  0
  8  3  1  0  0  0  0
  3 21  1  0  0  0  0
 10  4  1  0  0  0  0
  4 22  1  0  0  0  0
  5 11  1  0  0  0  0
  5 23  1  0  0  0  0
  6 12  1  0  0  0  0
  6 24  1  0  0  0  0
  7  8  1  0  0  0  0
  7  9  1  0  0  0  0
  7 13  1  0  0  0  0
  8 10  1  0  0  0  0
  8 14  1  0  0  0  0
  9 12  1  0  0  0  0
  9 15  1  0  0  0  0
 10 11  1  0  0  0  0
 10 16  1  0  0  0  0
 11 17  1  0  0  0  0
 12 18  1  0  0  0  0
 12 19  1  0  0  0  0
M  END
$$$$
`;

let sdfAdamatane = `


 26 28  0     0  0  0  0  0  0999 V2000
   -0.0187    1.5258    0.0104 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.7182   -0.4975   -1.2568 C   0  0  0  0  0  0  0  0  0  0  0  0
    2.1328    1.5619   -1.2592 C   0  0  0  0  0  0  0  0  0  0  0  0
   -0.0425    1.5392   -2.4879 C   0  0  0  0  0  0  0  0  0  0  0  0
    2.1536    0.0321   -1.2676 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.3929    2.0688   -2.4988 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.4167    2.0553   -0.0004 C   0  0  0  0  0  0  0  0  0  0  0  0
   -0.7587    2.0326   -1.2291 C   0  0  0  0  0  0  0  0  0  0  0  0
   -0.0218    0.0093   -2.4963 C   0  0  0  0  0  0  0  0  0  0  0  0
   -0.5697    1.9003   -3.3710 H   0  0  0  0  0  0  0  0  0  0  0  0
    3.1554    1.9392   -1.2670 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.7330   -1.5874   -1.2628 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.5289    1.8773    0.9072 H   0  0  0  0  0  0  0  0  0  0  0  0
    2.6808   -0.3290   -0.3846 H   0  0  0  0  0  0  0  0  0  0  0  0
    2.6638   -0.3194   -2.1644 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.5293   -0.3651    0.8851 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.0205   -0.3814    0.0098 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.3781    3.1587   -2.4928 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.9030    1.7172   -3.3956 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.4019    3.1452    0.0056 H   0  0  0  0  0  0  0  0  0  0  0  0
    1.9439    1.6943    0.8826 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.7813    1.6553   -1.2214 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.7734    3.1225   -1.2231 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.4884   -0.3422   -3.3931 H   0  0  0  0  0  0  0  0  0  0  0  0
   -1.0444   -0.3679   -2.4886 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  6  1  0  0  0  0
  1  8  1  0  0  0  0
  1  9  1  0  0  0  0
  1 14  1  0  0  0  0
  2  5  1  0  0  0  0
  2  6  1  0  0  0  0
  2 10  1  0  0  0  0
  2 13  1  0  0  0  0
  3  5  1  0  0  0  0
  3  7  1  0  0  0  0
  3  8  1  0  0  0  0
  3 12  1  0  0  0  0
  4  7  1  0  0  0  0
  4  9  1  0  0  0  0
  4 10  1  0  0  0  0
  4 11  1  0  0  0  0
  5 15  1  0  0  0  0
  5 16  1  0  0  0  0
  6 17  1  0  0  0  0
  6 18  1  0  0  0  0
  7 19  1  0  0  0  0
  7 20  1  0  0  0  0
  8 21  1  0  0  0  0
  8 22  1  0  0  0  0
  9 23  1  0  0  0  0
  9 24  1  0  0  0  0
 10 25  1  0  0  0  0
 10 26  1  0  0  0  0
M  END
$$$$
`;

let sdfEthylCrotonate = `


 18 17  0  0  0               999 V2000
   -0.0179    1.4653    0.0101 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0021   -0.0041    0.0020 C   0  0  0  0  0  0  0  0  0  0  0  0
   -1.1560   -0.6939    0.0094 O   0  0  0  0  0  0  0  0  0  0  0  0
    1.0627   -0.5973   -0.0113 O   0  0  0  0  0  0  0  0  0  0  0  0
    1.1255    2.1463    0.0028 C   0  0  0  0  0  0  0  0  0  0  0  0
   -1.0604   -2.1427    0.0007 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.1051    3.6532    0.0111 C   0  0  0  0  0  0  0  0  0  0  0  0
   -2.4661   -2.7467    0.0109 C   0  0  0  0  0  0  0  0  0  0  0  0
   -0.9604    1.9925    0.0174 H   0  0  0  0  0  0  0  0  0  0  0  0
    2.0680    1.6191   -0.0090 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.5322   -2.4666   -0.8961 H   0  0  0  0  0  0  0  0  0  0  0  0
   -0.5153   -2.4761    0.8837 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.5779    4.0142   -0.8719 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.5949    4.0047    0.9079 H   0  0  0  0  0  0  0  0  0  0  0  0
    2.1277    4.0304    0.0034 H   0  0  0  0  0  0  0  0  0  0  0  0
   -2.9942   -2.4228    0.9077 H   0  0  0  0  0  0  0  0  0  0  0  0
   -3.0112   -2.4132   -0.8722 H   0  0  0  0  0  0  0  0  0  0  0  0
   -2.3943   -3.8343    0.0043 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  1  0  0  0  0
  1  5  2  0  0  0  0
  1  9  1  0  0  0  0
  2  3  1  0  0  0  0
  2  4  2  0  0  0  0
  3  6  1  0  0  0  0
  5  7  1  0  0  0  0
  5 10  1  0  0  0  0
  6  8  1  0  0  0  0
  6 11  1  0  0  0  0
  6 12  1  0  0  0  0
  7 13  1  0  0  0  0
  7 14  1  0  0  0  0
  7 15  1  0  0  0  0
  8 16  1  0  0  0  0
  8 17  1  0  0  0  0
  8 18  1  0  0  0  0
M  END
$$$$
`;
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/og/editor.js') }}"></script>

    {#<style>#}
    {#    .button.snapshot {#}
    {#      padding: 16px 32px;#}
    {#      text-align: center;#}
    {#      text-decoration: none;#}
    {#      display: inline-block;#}
    {#      font-size: 16px;#}
    {#      margin: 4px 2px;#}
    {#      transition-duration: 0.1s;#}
    {#      cursor: pointer;#}
    {##}
    {#      background-color: white;#}
    {#      color: black;#}
    {#      border: 2px solid #8C1D40;#}
    {#    }#}
    {##}
    {#    .button.snapshot:hover {#}
    {#      background-color: #8C1D40;#}
    {#      color: white;#}
    {#    }#}
    {#</style>#}

</head>
<body class="{{is_dark}}">

<section class="molecalc editor" id="molecalc-view">

    {% include 'shared/_appicon.html' %}

    <section class="mc-mobile-navigation toggle700 btnHeader left">
        <a class="button icon btnSidebar" href="#sidebarEditor">
            <!-- <i class="fas fa&#45;angle&#45;right"></i> -->
            <i class="fas fa-bars"></i>
        </a>
    </section>

    {% include 'shared/_menu.html' %}
    {% include 'shared/_footer.html' %}


    {# content #}

    <section class="mc-mobile-search toggle700 btnHeader right">
        <a class="button icon" href="#searchbar">
            <i class="fas fa-search"></i>
        </a>
    </section>

    <section class="mc-editor-searchbar">
        <form>
            <input type="text" placeholder="Search using molecule name or SMILES definition" autocomplete="off" id="searchbar" />
            <a class="button icon">
                <i class="fas fa-search"></i>
            </a>
            <span class="toggle700 searchbar-close button icon">
                <i class="fas fa-times"></i>
            </span>
        </form>
    </section>

    <section class="mc-editor-tools sidebar" id="sidebarEditor">

        <section class="sidebar-cover"></section>
        <section class="sidebar-background btnCloseSidebar" href="#sidebarEditor"></section>

        <section class="sidebar-wrapper"> {# sidebar wrapper #}
            <section class="toolset toggle700">
                <a class="button icon btnCloseSidebar" href="#sidebarEditor">
                    <i class="fas fa-times"></i>
                </a>
                <a class="button btnSidebar menu" href="#nav">Menu</a>
            </section>


            <h1>Molecule Builder</h1>

            <section class="toolset jsmol">
                {% include 'jsmol/toolbar.html' %}
            </section>
        </section> {# sidebar wrapper #}


        <h1>Electronic Structure Calculation</h1>

        <section class="toolset quantum">

            <h2>Semi-Empirical Methods</h2>

            <ul>
                <li><a rel="am1" href="#!" class="button theory">AM1</a></li>
                {#<li><a rel="rm1" href="#!" class="button theory">RM1</a></li>#}
                <li><a rel="pm3" href="#!" class="button theory">PM3</a></li>
                <li><a rel="pm6" href="#!" class="button theory active">PM6</a></li>
            </ul>

            <h2>Advanced Methods (Coming soon!)</h2>

            {#<div style='margin: 0 0 0 10px;'>#}
            {#<h3>Formalism</h3>#}
            {##}
            {#    <div style='margin: 0 0 0 10px;'>#}
            {#    <h4>Hartree-Fock</h4>#}
            {##}
            {#        <ul>#}
            {#            <li><a rel="rhf" href="#!" class="button theory">RHF</a></li>#}
            {#            <li><a rel="uhf" href="#!" class="button theory">UHF</a></li>#}
            {#        </ul>#}
            {##}
            {#    <h4>DFT Functionals</h4>#}
            {##}
            {#        <ul>#}
            {#            <li><a rel="b3lyp" href="#!" class="button theory">B3LYP</a></li>#}
            {#            <li><a rel="pbe0" href="#!" class="button theory">PBE0</a></li>#}
            {#        </ul>#}
            {#    </div>#}
            {#</div>#}
            {##}
            {#<div style='margin: 0 0 0 10px;'>#}
            {#<h3>Basis Set</h3>#}
            {##}
            {#    <ul>#}
            {#        <li><a rel="sto3g" href="#!" class="button theory">STO-3G</a></li>#}
            {#        <li><a rel="312g" href="#!" class="button theory">3-21G</a></li>#}
            {#        <li><a rel="631gs" href="#!" class="button theory">6-31G*</a></li>#}
            {#    </ul>#}
            {#</div>#}

            {# These margin commands are a hack until the sidebar stuff is fixed and this inherits #}
            <h1 style="margin-top: 25px; margin-bottom: 10px">Calculate Properties</h1>

                <ul class="bottombar">
                    <li><a href="#!" class="button quantum highlight">Run GAMESS</a></li>
                </ul>

                {#<ul class="bottombar">#}
                {#    <li><a href="#!" class="button quantum highlight">Run Orca</a></li>#}
                {#</ul>#}

        </section>   {# <section class="toolset quantum"> #}

    </section>  {# <section class="mc-editor-tools sidebar" id="sidebarEditor"> #}

    {#<section>#}
    {#    <button class="button snapshot"#}
    {#       href="#!">#}
    {#        <i class="fa fa-download"></i>#}
    {#        Save snapshot#}
    {#    </button>#}
    {#</section>#}

    <section class="mc-content">
        <div id="editor-jsmol">
            {% include 'jsmol/content.html' %}
        </div>
    </section>

</section>

<section class="hidden"></section>



</body>
</html>