{% extends "shared/_layout.html" %}
{% block title %}Help{% endblock %}

{% block main_content %}
    <section class="molecalc page">
        <section class="mc-content">
            <h1>Help</h1>

            <h2>How do I measure distances in MoleCalc?</h2>
            <p>You double-click on atom 1 and then double-click on atom 2, in the JSmol window.</p>

            <h2>How do I measure angles in MoleCalc?</h2>
            <p></p>You double-click on atom 1, single click on atom 2, and then double-click on atom 3, in the JSmol window.</p>

            <h2>Why does the molecule look blurry or broken in the JSmol window?</h2>
            <p>Click the viewer area with your cursor and it will look great again.</p>
        </section>
    </section>
{% endblock %}

{% block additional_css %}
<!-- this would be css from about.html -->
{% endblock %}