<!DOCTYPE html>
<html lang="en">
<head>

    <title>MoleCalc</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% include 'shared/_header.html' %}

</head>
<body>

<section class="molecalc page">

    {% include 'shared/_appicon.html' %}

    <section class="mc-mobile-navigation toggle700 btnHeader left">
        <a class="button icon btnSidebar" href="#nav">
            <i class="fas fa-angle-right"></i>
        </a>
    </section>

    {% include 'shared/_menu.html' %}
    {% include 'shared/_footer.html' %}

    <!-- content -->

    <section class="mc-content">
        <h1>Help</h1>

        <h2>How do I measure distances in MoleCalc?</h2>
        <p>You double-click on atom 1 and then double-click on atom 2, in the JSmol window.</p>

        <h2>How do I measure angles in MoleCalc?</h2>
        <p></p>You double-click on atom 1, single click on atom 2, and then double-click on atom 3, in the JSmol window.</p>

        <h2>Why does the molecule look blurry or broken in the JSmol window?</h2>
        <p>Click the viewer area with your cursor and it will look great again.</p>
    </section>

</section>

<section class="hidden"></section>

</body>
</html>