<section class="mc-footer">
    <div id="mc-footer-container">
        <div id="github">
            Problems? Submit issues to
            <a href="https://github.com/mscloudlab/molecalc">
                  github.com/mscloudlab/molecalc
                    {# <img src="../static/img/GitHub-Mark-120px-plus.png" style="width:16px;">#}
            </a>
        </div>
        <div id="asulogo">
            <a href="https://www.asu.edu/">
                <img src="../../static/img/lwm2_mg.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>