<script type="text/javascript">
var IS_DARK = '{{ is_dark }}' == 'darkmode';

$(function() {
    $('#darkmode').prop('checked', IS_DARK);
    console.log("Dark Mode toggle is " + $('#darkmode').prop('checked'));
});

$(function() {
    $("#darkmode").on('change', function() {
        let darkmode = $(this).prop('checked');

        // send post request to server
        $.ajax({
            url: '/dark',
            type: 'POST',
            data: {
                dark: darkmode
            },
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });

        if (darkmode) {
            IS_DARK = true;
            let bg_color = '#222222';
            let font_color = '#FFFFFF';
            if (!$('body').hasClass('darkmode')) {
                $('body').addClass('darkmode');
            }
            $('a').addClass('darkmode');
            $('img').addClass('darkmode');
            $('section').addClass('darkmode');
            $('table').addClass('darkmode');
            if (typeof myJmol1 !== 'undefined') {
                jsmolSetBGColor(myJmol1, bg_color);
            }
            if (typeof jmolOpt !== 'undefined') {
                jsmolSetBGColor(jmolOpt, bg_color);
                jsmolDisplayText(jmolOpt, '{{iupac_name}} ({{theorylvl}})', 'top right');
            }
            if (typeof jmolVib !== 'undefined') {
                jsmolSetBGColor(jmolVib, bg_color);
                jsmolDisplayText(jmolVib, '{{iupac_name}} ({{theorylvl}})', 'top right');
                if (typeof wavenumber !== 'undefined') {
                    jsmolDisplayText(jmolVib, wavenumber, 'bottom right');
                }
            }
            if (typeof jmolOrb !== 'undefined') {
                jsmolSetBGColor(jmolOrb, bg_color);
                if (typeof orbEnergy !== 'undefined') {
                    jsmolDisplayText(jmolOrb, orbEnergy, 'bottom right');
                }
            }
            if (typeof jmolSurf !== 'undefined') {
                jsmolSetBGColor(jmolSurf, bg_color);
                setSolvationText(jmolSurf);
            }
        } else {
            IS_DARK = false;
            let bg_color = '#FFFFFF';
            let font_color = '#000000';
            $('body').removeClass('darkmode');
            $('a').removeClass('darkmode');
            $('img').removeClass('darkmode');
            $('section').removeClass('darkmode');
            $('table').removeClass('darkmode');
            if (typeof myJmol1 !== 'undefined') {
                jsmolSetBGColor(myJmol1, bg_color);
            }
            if (typeof jmolOpt !== 'undefined') {
                jsmolSetBGColor(jmolOpt, bg_color);
                jsmolDisplayText(jmolOpt, '{{iupac_name}} ({{theorylvl}})', 'top right');
            }
            if (typeof jmolVib !== 'undefined') {
                jsmolSetBGColor(jmolVib, bg_color);
                jsmolDisplayText(jmolVib, '{{iupac_name}} ({{theorylvl}})', 'top right');
                if (typeof wavenumber !== 'undefined') {
                    jsmolDisplayText(jmolVib, wavenumber, 'bottom right');
                }
            }
            if (typeof jmolOrb !== 'undefined') {
                jsmolSetBGColor(jmolOrb, bg_color);
                if (typeof orbEnergy !== 'undefined') {
                    jsmolDisplayText(jmolOrb, orbEnergy, 'bottom right');
                }
            }
            if (typeof jmolSurf !== 'undefined') {
                jsmolSetBGColor(jmolSurf, bg_color);
                setSolvationText(jmolSurf);
            }
        }
        //console.log("Dark Mode " + $(this).prop('checked'));
    }).trigger('change');
});

function isDarkMode() {
    return $('#darkmode').prop('checked');
}


</script>

<section class="mc-navigation sidebar" id="nav">
    <section class="toggle700 section">
        <a class="button icon btnCloseSidebar" href="#nav">
            <i class="fas fa-times"></i>
        </a>
    </section>

    <section class="sidebar-cover"></section>
    <section class="sidebar-background btnCloseSidebar" href="#nav"></section>

    <section class="sidebar-wrapper"> <!-- sidebar wrapper -->
        <section class="section">
            <ul>
                <li>
                    <div>
                        Dark Mode
                        <label class="switch">
                            {% if is_dark == 'darkmode' %}
                                <input type="checkbox" id="darkmode" checked>
                            {% else %}
                                <input type="checkbox" id="darkmode">
                            {% endif %}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li><a class="" href="/">New Molecule</a></li>
                <li><a class="" href="/help">Help</a></li>
                <li><a class="" href="/about">About</a></li>
            </ul>
        </section>
    </section> <!-- sidebar wrapper -->
</section>
